# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/
env/
venv/

# Ignore data files (handled by DVC)
data/
!data/*.dvc  # Don't ignore DVC pointers

# Ignore model files (handled by DVC)
model/
!model/*.dvc

# Ignore DVC temporary/cache files
*.dvc
*.dvc.lock
.cache/
.dvc/tmp/

# Ignore logs and temp files
*.log
*.tmp
*.bak